@model IEnumerable<aplication20_07_2019.Models.Marché>

@{
    ViewBag.Title = "MarcheencourRsp";
    Layout = "~/Views/Shared/_Layoutresponsablemarche.cshtml";
}
    <div class="text-center">
        <h2>Marche en cour</h2>
    </div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget_prevu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>


        <th>
            prestataire final
        </th>
        <th>
            Libelle projet
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Délai)
        </th>


        <th>Dashbord</th>
        <th>annule le Marche</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.budget_prevu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.prestataire.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projet.libelle_projet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Délai)
        </td>
        
        
        <td>
            <a href='@string.Format("/Marche/Dashboardresp?id_marche={0}", item.id_marché  ) ' class="btn btn-info"> <i class="glyphicon glyphicon-dashboard"></i></a>

        </td>
        <td>
             <a href='@string.Format("/Marche/Delete?id={0}", item.id_marché  ) ' class="btn btn-danger"> <i class="glyphicon glyphicon-remove" ></i></a>
            
        </td>
    </tr>
}

</table>
